@import 'src/styles/rootconfigure/common.scss';

.main {
	@include flex(center);
	flex-wrap: wrap;
	max-width: 76rem;
	background-image: linear-gradient(
		to right bottom,
		#769323,
		#71a93b,
		#65bf56,
		#4fd575,
		#12eb98
	);
}
